/* Google Font | Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    background: #232427;
}

.wrapper {
    text-align: center;
    width: 350px;
    height: 585px;
    background: #2a2b2f;
    border-radius: 35px;
    padding: 40px 30px;
    box-shadow: 2px 2px 6px #121013,
        -5px -2px 10px #1b1717;
}

.wrapper .logo {
    background: url("../image/logo.png"); /* Logo by Pixabay.com */
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: -22px auto;
    margin-bottom: 15px;
    box-shadow: 
    /* Logo Shadow */
    0px 0px 2px #222831,
    /* Offset */
    0px 0px 0px 5px #303132,
    /* Bottom Right */
    5px 5px 15px #151515,
    /* Top Left */
    -8px -8px 15px #252525;
}

.wrapper .title {
    color: #24cfaa;
    font-size: 2.4em;
    font-weight: 700;
    letter-spacing: 1px;
}

.wrapper .sub-title {
    font-family: 'Tangerine', cursive;
    color: #a5b4c1;
    font-size: 2.1em;
    font-weight: 100;
    letter-spacing: 2px;
    padding-bottom: 5px;
    border-bottom: 1px solid #242324;
    margin-bottom: 13px;
}

.wrapper .text {
    color: #dde1e7;
    font-size: 16px;
    font-weight: 200;
    border-bottom: 1px solid #242324;
    padding-bottom: 13px;
}

.wrapper .btn-to-qt {
    margin: 25px 0;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #24cfaa;
    font-size: 18px;
    font-weight: 600;
    border-radius: 25px;
    background: linear-gradient(145deg, #303132, #29292a);
    box-shadow: 1px 1px 25px #212121, 
               -2px -2px 6px #232427;
    animation: animate 1.5s infinite;
} @keyframes animate {
    0% {
        box-shadow: 0 0;
    }
}

.btn-to-qt:hover {
    animation: none;
    background: #36393f;
    box-shadow: inset 5px 5px 8px #242526,
                inset -5px -5px 10px #363738;
}

.wrapper .social-media {
    text-align: center;
}

.social-media .fa {
    margin: 5px 5px 0;
    width: 40px;
    height: 40px;
    color: #a5b4c1;
    font-size: 1.5em;
    cursor: pointer;
    line-height: 40px;
    border-radius: 50%;
    transition: .5s;
}

.social-media .fa-facebook:hover {
    background: #3b5998;
    color: #d8e3e7;
    transform: translateY(-7px);
}
.social-media .fa-github:hover {
    background: #171515;
    color: #d8e3e7;
    transform: translateY(-7px);
}
.social-media .fa-whatsapp:hover {
    background: #25d366;
    color: #d8e3e7;
    transform: translateY(-7px);
}

/* Responsive for mobile */ 
@media screen and (max-width: 465px) {
    .wrapper {
        width: 315px;
        height: 468px;
    }
    .wrapper .logo {
        display: none;
    }
    .wrapper .title {
        margin: -22px 0 0;
        font-size: 2.2em;
    }
    .wrapper .sub-title {
        font-size: 2em;
    }
}
